// Colors
$color-main: #060b35;
$color-secondary: #74778d;
$color-accent: #00acdc;
$color-accent-hover: #008cb3;
$color-border: #f3f3f3;
$color-white: #fff;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$card-padding: 16px;
$card-width: 200px;
